@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

/* Generelles Styling für das Html Dokument */
*{ 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.section-title {
  font-size: 4rem;
  font-weight: 500;
  color: goldenrod;
  margin: 0 10px 10px 10px;
  text-transform: uppercase;
  text-align: center;
  align-items: center;
}

h2 {
  text-align: center;
  color: darkslategray;
  font-weight: 600;
  margin: 0 5px 0 5px;
}

hr {
  width: 90%;
  margin: 50px 0 90px 5%;
}
/* Ende vom generellen Styling für das Html Dokument */


/* Styling für das Navigation Menu */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 70px;
  font-family: 'Montserrat', sans-serif;
  background-color: rgba(255, 148, 72, 0.97);
  position: fixed;
  width: 100%;
}

.logo {
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 2.5rem;
  text-shadow: 0 0 10px black;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 40%;
  margin-bottom: 20px;
}

.nav-links a {
  color: white;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 19px;
}

.nav-links a:hover {
  background-color: lightgray;
  padding: 7px 13px;
  border-radius: 5px;
  color: rgb(54, 52, 52);
  transition: .3s ease;
}

.burger {
  display: none;
}

.burger div {
  width: 27px;
  height: 3px;
  background-color: white;
  margin: 5px;
  transition: all 0.3s ease;
}
/* Ende vom stylen für das Navigation Menu */


/* Styling für das 1.Bild */
.kabul-img {
  object-fit: cover;
  height: 100vh;
  width: 100%;
}
/* Ende vom Stylen des Navigation-Menu */


/* Styling für die About-Section */
#about {
  margin-top: -5px;
}


#über {
  margin-top: 100px;
}

.kabul-people {
  float: right;
  margin: 100px 60px;
  border-radius: 20px;
  width: 500px;
}

.kabul-infos {
  text-align: left;
  font-size: 1.5rem;
  margin-left: 40px;
  margin-top: 100px;
}

li {
  margin-top: 25px;
}

.about-infos {
  line-height: 50px;
}

/* Ende vom Styling für die About-Section */


/* Styling für die History-Section */
.subhead {
  color: lightblue;
  margin: 10px 0 10px 25px;
  text-decoration: underline;
}

.history-infos {
  font-size: 1.5rem;
  line-height: 40px;
  background-color: darkslategray;
  margin: 50px 40px;
  padding: 20px 15px;
  border-radius: 20px;
  color: white;
}

.info-gen {
  text-align: left;
  margin: 0 25px 50px 25px;
}

.link-color {
  color: rgb(0, 191, 255);
}

.link-color:visited {
  color: yellow;
}
/* Ende vom Styling für die History-Section */


/* Styling für die Sights-Section */
.sight1 {
  margin-top: 60px;
}

mark {
  padding: 5px 10px;
}

h3 {
  font-size: 1.3rem;
  margin-left: 70px;
  color: darkslategray;
}

.dap-img, .pkm-img1, .bbp-img1 {
  margin: 50px 10px 20px 70px;
  border-radius: 20px;
}

.dap-img2, .pkm-img2, .bbp-img2 {
  margin: -10px 10px 20px 20px;
  border-radius: 20px;
}

.dap-img {
  width: 40%;
}

.dap-img2 {
  width: 44.5%;
}

.sight-info {
  font-size: 1.3rem;
  margin: 10px 70px 100px 70px;
  line-height: 35px;
}

.pkm-img1 {
  width: 45%;
}

.pkm-img2 {
  width: 41.5%;
}

.bbp-img1 {
  width: 45%;
}

.bbp-img2 {
  width: 44%;
}
/* Ende vom Styling für die Sights-Section */

/* Styling für das Scroll-Bar */
/* Source Code: https://www.w3schools.com/howto/howto_css_custom_scrollbar.asp */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(153, 153, 153);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* Ende vom Styling für das Scroll-Bar */

/* Styling für die Footer Section*/
#footer {
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  text-align: center;
  justify-content: center;
  align-items: center;
}

#footer .footer {
  min-height: 200px;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 10px;
}

.brand {
  color: gold;
  font-size: 1.3rem;
}

#footer h2 {
  color: white;
  font-weight: 500;
  font-size: 1.5rem;
  letter-spacing: .1rem;
  margin-top: 20px;
  margin-bottom: 30px;
}

#footer .social-icon {
  display: flex;
  margin-bottom: 30px;
  justify-content: center;
}

#footer .social-item {
  height: 50px;
  width: 50px;
  margin: 0 5px;
}

#footer .social-item .github {
  width: 50px;
}

#footer p {
  color: white;
  font-size: 0.9rem;
  margin-bottom: 10px;
}
/* Ende vom Styling für die Footer Section*/

/* Responsive Design und Animationen */
@media only screen and (max-width: 600px) {
  .nav-links {
    font-size: 1rem;
  }

  h3 {
    font-size: 1.1rem;
    margin-left: 10%;
    margin-bottom: 1%;
  }

  .sight-info {
    font-size: 1.1rem;
    margin: 10px 3% 100px 3%;
    line-height: 30px;
  }

  .brand {
    font-size: 1.1rem;
  }
  
  #footer h2 {
    font-size: 1.3rem;
  }

  #footer p {
    font-size: 0.8rem;
  }

}

@media only screen and (max-width: 849px) {
  .kabul-people {
    display: none;
  }
}

@media only screen and (max-width: 1024px) {
  .nav-links {
    width: 60%;
  }
}

@media only screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .nav-links a {
    font-size: 1.2rem;
  }

  .nav-links {
    position: absolute;
    right: 0px;
    height: 100vh;
    width: 50%;
    top: 20px;
    background-color: rgba(255, 148, 72, 0.97);
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translate(100%);
    transition: transform 0.7s ease-in;
  }

  .nav-links li{
    opacity: 0;
  }

  .burger {
    display: block;
    cursor: pointer;
  }

  .section-title {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.1rem;
  }


  .kabul-infos {
    font-size: 1rem;
    margin-top: 50px;
    line-height: 15px;
  }

  .about-infos {
    line-height: 30px;
    margin-right: 25px;
  }

  .history-infos {
    font-size: 1rem;
    line-height: 30px;
  }

  .subhead {
    font-size: 1.2rem;
    margin-right: 25px;
  }

  .dap-img, .pkm-img1, .bbp-img1 {
    width: 80%;
    margin: 7% 10% 30px 10%;
    border-radius: 15px;
  }

  .dap-img2, .pkm-img2, .bbp-img2 {
    display: none;
  }
  
  .sight-info {
    font-size: 1.1rem;
    margin: 10px 10% 100px 10%;
    line-height: 30px;
  }
}

.nav-active {
  transform: translate(0%);
}


/* Animation für das Burger-Menu */
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translate(50px);
  }
  to {
    opacity: 1;
    transform: translate(0px);
  }
}
/* Ende für die Animation vom Burger-Menu */

/* Styling für das Toggle */
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
/* Ende fürs stylen vom Toggle */
