@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

/* Generelles Styling für das Html Dokument */
*{ 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.section-title {
  font-size: 4rem;
  font-weight: 500;
  color: goldenrod;
  margin-bottom: 10px;
  text-transform: uppercase;
  text-align: center;
}

hr {
  width: 90%;
  margin-left: 5%;
  margin-top: 10px;
}
/* Ende vom generellen Styling für das Html Dokument */


/* Styling für das Navigation Menu */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 70px;
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(0, 161, 215);
  position: fixed;
  width: 100%;
}

.logo {
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 2.5rem;
  text-shadow: 0 0 10px black;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 40%;
  margin-bottom: 20px;
}

.nav-links a {
  color: white;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 19px;
}

.nav-links a:hover {
  background-color: lightgray;
  padding: 7px 13px;
  border-radius: 5px;
  color: rgb(54, 52, 52);
  transition: .3s ease;
}

.burger {
  display: none;
}

.burger div {
  width: 27px;
  height: 3px;
  background-color: white;
  margin: 5px;
  transition: all 0.3s ease;
}
/* Ende vom stylen für das Navigation Menu */


/* Styling für das 1.Bild */
.kabul-img {
  margin-top: 40px;
  object-fit: cover;
  height: 100vh;
  width: 100%;
}
/* Ende vom Stylen des Navigation-Menu */


/* Styling für die About-Section */
#about {
  margin-top: 100px;
}

h2 {
  text-align: center;
  color: darkslategray;
  font-weight: 500;
}

.kabul-people {
  float: right;
  margin: 100px 60px;
  border-radius: 20px;
  width: 500px;
}

.sub-head {
  font-size: 1.7rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: green;
}

.kabul-infos {
  text-align: left;
  font-size: 1.5rem;
  margin-left: 40px;
  margin-top: 100px;
}

li {
  margin-top: 25px;
}

.infos {
  line-height: 50px;
}

/* Ende vom Styling für die About-Section */


/* Responsive Design */
@media only screen and (max-width: 600px) {
  .section-title {
    font-size: 3rem;
  }

  h2 {
    font-size: 1.3rem;
  }

  .infos {
    margin-right: 25px;
  }
}


@media only screen and (max-width: 1024px) {
  .nav-links {
    width: 60%;
  }
}

@media only screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .nav-links a {
    color: white;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 23px;
  }

  .nav-links {
    position: absolute;
    right: 0px;
    height: 100vh;
    width: 100%;
    top: 70px;
    background-color: rgb(0, 161, 215);
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translate(100%);
    transition: transform 0.7s ease-in;
  }

  .nav-links li{
    opacity: 0;
  }

  .burger {
    display: block;
    cursor: pointer;
  }

  .kabul-people {
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 10px;
    margin-bottom: 5px;
    width: 45%;
  }

  .sub-head {
    font-size: 1.2rem;
  }

  .kabul-infos {
    font-size: 1.1rem;
    margin-top: 50px;
  }

  .infos {
    line-height: 40px;
  }
  

}

.nav-active {
  transform: translate(0%);
}


/* Animation für das Burger-Menu */
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translate(50px);
  }
  to {
    opacity: 1;
    transform: translate(0px);
  }
}
/* Ende für die Animation vom Burger-Menu */


/* Styling für das Toggle */
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
/* Ende fürs stylen vom Toggle */
